<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<div class="dashboard-container">

    <!-- Header -->
    <div class="header">
        <h1>Welcome, {{user}}👋</h1>
        <a href="/logout" class="logout-btn">Logout</a>
    </div>

    <!-- Main Content -->
    <div class="card">
        <h2>Student Dashboard</h2>
        <p>Access your academic information below</p>

        <a href="/result" class="btn">View Result</a>
    </div>

</div>

</body>
</html>